@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --gray: #ffffffcf;
    --gray2: #767c83;
    --gray3: #615c5c;
    --black: #000;
    --error: #ff002f;
    --blue: #1e90ff;
    --white: #fff;    
    /* --fntgry: #8898aa; */
    --icon: #adb5bd;
    --fntgry: #172b4d;
    --fntbgclr : #bfbfbf;
    --signinup : linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
    /* --sidebar: linear-gradient(90deg,#0c2646 0,#204065 60%,#2a5788); */
    --sidebar: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
    --dasbg: #f1f1f1;
    --pink: #ff7295;
    --bx1: linear-gradient(87deg,#11cdef,#1171ef);
    --bx2: linear-gradient(60deg, #66bb6a, #43a047);
    --bx3: linear-gradient(87deg,#f5365c,#f56036);
}

body{
    background: #f7fafc;
}