.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: var(--sidebar);
    box-shadow: 0 0 14px rgba(0,0,0,.1);
    overflow: scroll;
    transition: .5s;
}

.sidebar.activate{
    left: -100%;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .stitle{
    padding: 15px 10px;
    margin: 0 10px;
    text-align: center;
    border-bottom: 1px solid #efdddd59;
    color: var(--white);
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--sidebar);
}

.sidebar ul{
    margin: 50px 15px;
}

.sidebar ul li{
    margin: 30px 0;
}

.sidebar ul li.logout{
    position: absolute;
    bottom: 0px;
    margin: 0;
}

.sidebar ul li a,.sidebar ul li.forms{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--gray);
}

.sidebar ul li a svg,.sidebar ul li.forms svg{
    margin-right: 15px;
    font-size: 20px;
}

.sidebar ul ul{
    margin: 0;
    word-wrap: break-word;
}

.sidebar ul ul li{
    color: var(--gray);
    font-size: 14px;
    margin: 15px 0;
    line-height: 25px;
}

.sidebar ul ul li a{
    font-size: 12px;
    margin: 7px 0;
}

/* About */

