

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--icon) !important;
}

::-webkit-scrollbar-thumb{
    background: var(--pink) !important;
    border-radius: 10px;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    /* background-image: linear-gradient(120deg, #66a6ff 0%, #89f7fe 100%); */
    background-image: linear-gradient(120deg, #002252 0%, #2dedf9 100%);
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    box-shadow: 0 0 14px rgba(0,0,0,.1);
    /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    background-image: var(--sidebar);    
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%); 
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);    
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    background-image: var(--sidebar);
    /* background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%); */
    /* background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%); */
    box-shadow: 5px 0 15px rgba(0,0,0,.1);
    overflow: scroll;
    transition: .5s;
}

.sidebar.activate{
    left: -100%;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .stitle{
    padding: 15px 10px;
    margin: 0 10px;
    text-align: center;
    border-bottom: 1px solid #ffffff8f;
    color: var(--white);
    position: sticky;
    top: 0;
    z-index: 100;
    color: var(--white);
}

.sidebar ul{
    margin: 50px 10px;
    padding: 25px 15px;
    background: rgba(255,255,255,.3);
    border-top: 1px solid #ffffff8f;
    border-radius: 10px;
}

.sidebar ul li{
    margin: 10px 0;
}

.sidebar ul li.logout{
    position: absolute;
    bottom: 0px;
    margin: 0;
}

.sidebar ul li a{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--white);
    padding: 20px 15px;
    border-radius: 10px;
    border-left: 1px solid transparent;
    cursor: pointer;
    transition: .3s;
}

.sidebar ul li a.active,.sidebar ul li a:hover{
    background: rgb(255 255 255 / 16%);
    /* background: var(--fntgry); */
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    border-left: 1px solid rgba(255,255,255,.7);
}

.sidebar ul li a svg,.sidebar ul li.forms svg{
    margin-right: 15px;
    font-size: 20px;
}

.sidebar ul ul{
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

.sidebar ul ul li{
    color: var(--gray);
    font-size: 14px;
    margin: 15px 0;
    line-height: 25px;
}

.sidebar ul ul li a{
    font-size: 12px;
    margin: 7px 0;
}

/* About */

