.bg1{
    height: 500px;
    background: var(--s1);
}

.bg1 nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
}

.bg1 nav h2{
    color: var(--white);
}

.bg1 nav a{
    color: var(--white);
    display: flex;
    align-items: center;
}

.bg1 nav a svg{
    margin-right: 10px;
}

.bg1 .wel{
    margin: 20px;
    text-align: center;
    color: var(--white);
}

.bg1 .wel p{
    margin: 15px 0;
    font-size: 14px;
    line-height: 28px;
    color: var(--sgry);
    text-align: justify;
}

.bg2{
    background: var(--s2);
    display: flex;
    justify-content: center;
    position: relative;
}

.bg2::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 150px;
    background: var(--s2);
    top: -15%;
    left: 0;
    transform-origin: right top;
    transform: skewY(-3deg);
}

.bg2 .signUp{
    flex-basis: 50%;
    z-index: 10;
    position: relative;
    top: -120px;
}

.bg2 .signUp form{
    padding: 25px 10px;
    background: var(--sgn);
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    border-radius: 10px;
}

.bg2 .signUp form .se{
    margin: 0 20px;
    color: #0eb71b;
    display: flex;
    font-size: 13px;
    align-items: center;
}

.bg2 .signUp form .se svg{
    font-size: 16px;
    margin-right: 10px;
}

.bg2 .signUp form .se.err{
    color: var(--red);
}

.bg2 .signUp form h3{
    color: var(--gray);
    margin-bottom: 40px;
}

.bg2 .signUp form .fields{
    margin: 18px 15px;
}

.bg2 .signUp form .fields div input,.bg2 .signUp form .fields div div{
    outline: none;
    color: var(--gray);
    font-size: 14px;
    width: 100%;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    background: var(--white);
    border: 1px solid var(--sgry);
    box-shadow: 0 3px 20px rgba(0,0,0,.1);
}

.bg2 .signUp form .fields div{
    display: flex;
    align-items: center;
}

.bg2 .signUp form .fields div svg{
    font-size: 22px;
    color: var(--gray);
    margin-right: 15px;
}

.bg2 .signUp form .fields div div{
    color: var(--gray);
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg2 .signUp form .fields div div p{
    padding: 15px 20px 10px;
    color: var(--gray);
    transition: .4s;
}

.bg2 .signUp form .fields div div p:hover{
    color: var(--white);
}

.bg2 .signUp form .fields div div svg{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: .4s;
}

.bg2 .signUp form .fields div div svg.active{
    transform: translateY(-50%) rotate(180deg);
}

.bg2 .signUp form .fields div div div,.bg2 .signUp form .fields:nth-child(5) div div div{
    padding: 0;
    position: absolute;
    overflow: scroll;
    pointer-events: none;
    border: none;
    border-radius: 8px;
    background-color: var(--s2);
    height: 0;
    left: 0;
    top: 55px;
    width: 100%;
    opacity: 0;
    z-index: 10;
    display: block;
    transition: .6s;
}


.bg2 .signUp form .fields:nth-child(5) div div div.active{
    height: 110px !important;
}

.bg2 .signUp form .fields div div div::-webkit-scrollbar{
    display: none;
}

.bg2 .signUp form .fields div div div.active{
    pointer-events: all;
    height: 250px;
    opacity: 1;
}

.bg2 .signUp form .fields .error{
    color: var(--red);
    margin: 10px 0;
    font-size: 13px;
}

.bg2 .signUp form .fields .error.dp{
    display: none;
}

.bg2 .signUp form .fields .error.dp.active{
    display: block;
}

.btn{
    display: flex;
    justify-content: center;
    margin: 35px 0 15px;
}

.btn button{
    cursor: pointer;
    border-radius: 8px;
    border: none;
    outline: none;
    background: var(--sbtn);
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.btn button i{
    font-size: 17px;
    margin-right: 10px;
}

.btn button svg{
    margin-left: 5px;
    transform: rotate(90deg);
    font-size: 18px;
}

.bg2 .signUp .bt{
    color: var(--sgry);
    font-size: 13px;
    text-align: center;
    margin: 20px 0;
}

.bg2 .signUp .bt a{
    color: var(--white);
    font-weight: bold;
}

.sh{
    position: absolute;
    right: 5%;
    z-index: 5;
    cursor: pointer;
}

@media(max-width: 800px){
    .bg2 .signUp {
        flex-basis: 85%;
    }
}

@media(max-width: 280px){
    .bg1 nav{
        padding: 30px 20px;
    }

    .bg1 .wel p{
        font-size: 13px;
        line-height: 25px;
    }

    .bg2 .signUp form .fields div input, .bg2 .signUp form .fields div div{
        font-size: 12px;
    }

    .bg2 .signUp form{
        padding: 25px 0;
    }

    .bg2 .signUp form .fields div svg{
        margin-right: 10px;
    }
}